* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --smallFont: 15px;
  --mediumFont: 25px;
  --largeFont: 40px;
  --lightWeight: 200;
  --mediumWeight: 400;
  --boldWeight: 700;
  --extraBold: 900;
  --fontColorWhite: #fff;
  --fontColorBlack: #000;
}
p {
  font-family: 'Karla';
  /* font-family: 'Ubuntu', sans-serif; */
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  font
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 300vh;
}
#logo {
  width: 100%;
  margin-top: 10px;
}

.headSection {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  background: #fff;
  justify-content: space-around;
}
.logo {
  width: 15%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.logoholder {
  width: 30%;
  height: 100%;
}
.logoName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.menu {
  width: 70%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu p {
  margin-right: 70px;
  font-size: var(--smallFont);
}
.contactBtn {
  min-width: 15%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactBg {
  width: 70%;
  height: 60%;
  background: #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactBg p {
  color: var(--fontColorWhite);
  font-size: var(--smallFont);
}
.hero {
  width: 100%;
  min-height: 80vh;
  background: pink;
  display: flex;
  flex-direction: row;
}
.heroText {
  width: 50%;
  min-height: 80vh;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroHead {
  width: 100%;
  height: 50%;
  background: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heroMiddle {
  width: 100%;
  height: 20%;
  background: silver;
}
.heroFoot {
  width: 100%;
  height: 20%;
  background: orange;
}
.heroImage {
  width: 50%;
  min-height: 80vh;
  background: blue;
}
.about {
  width: 100%;
  min-height: 80vh;
  background: pink;
  display: flex;
  flex-direction: row;
}
.aboutImage {
  width: 50%;
  min-height: 80vh;
  background: silver;
}
.aboutText {
  width: 50%;
  min-height: 80vh;
  background: purple;
}
