* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --smallFont: 15px;
  --mediumFont: 25px;
  --largeFont: 40px;
  --lightWeight: 200;
  --mediumWeight: 400;
  --boldWeight: 700;
  --extraBold: 900;
  --fontColorWhite: #fff;
  --fontColorBlack: #000;
}
p {
  font-family: "Karla";
  /* font-family: 'Ubuntu', sans-serif; */
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 300vh;
}
#logo {
  width: 100%;
  margin-top: 10px;
}

.headSection {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  background: #fff;
  justify-content: space-around;
}
.logo {
  width: 15%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.logoholder {
  width: 30%;
  height: 100%;
}
.logoName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.menu {
  width: 70%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu p {
  margin-right: 70px;
  font-size: var(--smallFont);
}
.contactBtn {
  min-width: 15%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactBg {
  width: 70%;
  height: 60%;
  background: #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactBg p {
  color: var(--fontColorWhite);
  font-size: var(--smallFont);
}
.hero {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
.heroText {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroHead {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heroHead h1 {
  margin-left: 40px;
  margin-top: 80px;
}
.heroHead p {
  margin-left: 40px;
  margin-top: 30px;
  width: 70%;
}
.heroMiddle {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.GStarted {
  width: 40%;
  height: 50%;
  background: #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.GStarted p {
  color: var(--fontColorWhite);
}
.DVideos {
  width: 40%;
  height: 50%;
  border-color: #000;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.heroFoot {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.camImg {
  width: 70%;
  height: 80%;
  background: silver;
  margin-left: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ImgHolder {
  width: 30%;
  height: 100%;
  border-radius: 5px;
}
.camImg p {
  width: 60%;
  margin-left: 10px;
}
.heroImage {
  width: 50%;
  min-height: 80vh;
  background: #fff;
}
.camera1 {
  width: 60%;
  margin-left: 80px;
}
.ImgHolder img {
  width: 80%;
  height: 100%;
  clip: inherit;
  border-radius: 5px;
}
.about {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
.aboutImage {
  width: 50%;
  min-height: 80vh;
}
.aboutImage img {
  width: 80%;
}
.aboutText {
  width: 50%;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.aboutText h2 {
  height: 30%;
  margin-top: 50px;
}
.aboutText p {
  height: 30%;
  width: 70%;
}
.readMore {
  width: 40%;
  height: 60px;
  background: #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.readMore p {
  color: var(--fontColorWhite);
  text-align: center;
}
.services {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.service1 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
}
.service2 {
  width: 100%;
  height: 60%;
  display: flex;
  margin-top: 30px;
}
.text1 {
  width: 40%;
  height: 100%;
  margin-left: 40px;
}
.text2 {
  width: 50%;
  height: 100%;
}
.s1,
.s2,
.s3,
.s4 {
  width: 25%;
  height: 300px;
  margin-left: 40px;
  align-items: center;
}
.s1,
.s2,
.s3,
.s4,
img {
  width: 50%;
}
.bold {
  margin-bottom: 20px;
  font-weight: var(--boldWeight);
  margin-top: 20px;
}
.portfolio1 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.portfolioPic {
  width: 80%;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(4, 0.3fr);
  grid-template-rows: repeat(4, 0.3fr);
  grid-template-areas:
    "port1 port2 port2 port2"
    "port1 port2 port2 port2"
    "port1 port3 port4 port4"
    "port1 port3 port4 port4";
  grid-gap: 0.5rem;
  margin: 0 auto;
  margin-top: 40px;
}
.port1 {
  background: url("/images/p1.jpg");
  grid-area: port1;
  background-size: cover;
}
.port2 {
  background: url("/images/port4.jpg") center;
  grid-area: port2;
  background-size: cover;
}
.port3 {
  background: url("/images/Port1.jpg");
  grid-area: port3;
  background-size: cover;
}
.port4 {
  background: url("/images/port3.jpg") center;
  grid-area: port4;
  background-size: cover;
}
.portfolioContact {
  height: 500px;
}
