* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 300vh;
}

.headSection {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  background: silver;
  justify-content: space-between;
}
.logo {
  min-width: 15%;
  min-height: 100%;
  background: yellow;
}
.menu {
  min-width: 50%;
  min-height: 100%;
  background: orange;
}
.contactBtn {
  min-width: 15%;
  min-height: 100%;
  background: orangered;
}
.hero {
  width: 100%;
  min-height: 80vh;
  background: pink;
  display: flex;
  flex-direction: row;
}
.heroText {
  width: 50%;
  min-height: 80vh;
  background: green;
}
.heroImage {
  width: 50%;
  min-height: 80vh;
  background: blue;
}
.about {
  width: 100%;
  min-height: 80vh;
  background: pink;
  display: flex;
  flex-direction: row;
}
.aboutImage {
  width: 50%;
  min-height: 80vh;
  background: silver;
}
.aboutText {
  width: 50%;
  min-height: 80vh;
  background: purple;
}
